<div class="container">
  <div class="column add-bottom">
    <div class="container-fluid">
      <div class="row">
        <input [(ngModel)]="test">
        {{test}}
      </div>
      <div class="row">
        <div class="col-md-8">
          <app-song-list></app-song-list>
        </div>
        <div class="col-md-4">
          <app-artist-list></app-artist-list>
        </div>
      </div>
    </div>
  </div>
  <div class="column add-bottom center">
      <p>A PEN by <a href="https://codepen.io/markhillard/">Mark Hillard</a></p>
  </div>
</div>
