/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import '~bootstrap/dist/css/bootstrap.min.css';

/* body {
  background-color:#cccccd;
  font-family: 'Source Sans Pro';
} */
html,body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:100%;
  background-color:#0665a2;
  color:#fff;
  font-size:105%;
  font-family:"Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
  letter-spacing:.025rem;
  line-height:1.618;
  padding:1rem 0;
  }
.add-bottom { margin-bottom:2rem !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }
  
 